

<div id="main-content" class="robot-show-layout">

    <div id="robot-basic-info" >

        <div class="robot-image-frame">

            <h2 class="dark-ui-bubble"><%=@robot.name%></h2>

            <%= image_tag "https://robohash.org/#{@robot.name}?size=175x175" %>

        </div>
       
    </div>


    <div id="robot-orders" class="ui-panel">

        <h2>Orders</h2>


    </div>


    <div id="robot-social-info" class="ui-panel">
    
        <h2>Social</h2>

        <div class="ui-subpanel" >
            <h3>Influenced</h3>
            <% @robot.robots_influenced.each do |influenced_robot|%>
                <div><%= link_to influenced_robot.name, robot_path(influenced_robot) %></div>
            <% end %>
        </div>
        <div class="ui-subpanel" >
            <h3>Influences</h3>
            <% @robot.robots_influencing.each do |influencing_robot|%>
                <div><%= link_to influencing_robot.name, robot_path(influencing_robot) %></div>
            <% end %>
        </div>

    </div>


    <div id="robot-product-info" class="ui-panel">

        <h2>Products</h2>

        <div class="ui-subpanel" >
            <h3>Desires</h3>
        </div>

        <div class="ui-subpanel" >
            <h3>Inventory</h3>
        </div>



    </div>



    <div id="robot-analytics" class="ui-panel">

        <h2>Data</h2>

        <div class="ui-subpanel" >
            
        </div>

    </div>

</div>










