
<div id="main-content" class="home-page-layout">

    <div id="robot-welcome-container" class="robot-image-frame">
        <%= image_tag 'https://robohash.org/robo_eco?size=400x400' %>
        <h2 class="dark-ui-bubble">Hello Human</h2>
        <h3 class="dark-ui-bubble">Say, your robots don't look so good...</h3>
    </div>


</div>






