
:root {
    --body-font: 'Jura', sans-serif;
    --display-font: 'Kelly Slab', cursive;

    --white: #E3E5E8;
    --black: #151325;
    --light-ui: #AAAAB6;
    --dark-ui: #4A4658;
    --confirm: #629D85;
    --warning: #EAD2AC;
    --error: #DF928E;

}

*, *:before, *:after {
    box-sizing: border-box;
    font-family: var(--body-font);
}

h1, h2 {
    font-family: var(--display-font);
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;

    background: var(--white);
}

#main-content {

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: scroll;

    padding: 10vh 0;

}



