
:root {
    --body-font: 'Jura', sans-serif;
    --display-font: 'Kelly Slab', cursive;

    --white: #E3E5E8;
    --black: #151325;
    --light-ui: #AAAAB6;
    --dark-ui: #4A4658;
    --confirm: #629D85;
    --warning: #EAD2AC;
    --error: #DF928E;

}

* {
    box-sizing: border-box;
}


body {
    margin: 0;
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;

    background: var(--white);
}

#main-content {

    min-width: 300px;
    max-width: 1200px;
    width: 80%;

    padding: 10vh 0 4vh 0;

}






